<style>
   .carousel-item {
  height: 65vh;
  min-height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>
<header>

        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000" style="background-image: url('https://res.cloudinary.com/heaven3609/image/upload/v1621329028/1_pwq91w.jpg');">
              </div>
              <div class="carousel-item" data-bs-interval="2000" style="background-image: url('https://res.cloudinary.com/heaven3609/image/upload/v1621329064/2_hcdxma.jpg');">
              </div>
              <div class="carousel-item" style="background-image: url('https://res.cloudinary.com/heaven3609/image/upload/v1621329086/3_fxoajf.jpg');">
              </div>
              <div class="carousel-item" style="background-image: url('https://images.unsplash.com/photo-1551488831-00ddcb6c6bd3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');">
              </div>
              <div class="carousel-item" style="background-image: url('https://images.unsplash.com/photo-1490114538077-0a7f8cb49891?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');">
              </div>
              <div class="carousel-item" style="background-image: url('https://images.samsung.com/is/image/samsung/assets/in/smartphones/galaxy-s20/galaxy-s20-fe/Homepage_banner1440.jpg');">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

</header>