
    <link rel="stylesheet" href="/css/lfoot.css">

    <div class="footer-dark mt-5">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Direct to</h3>
                        <ul>
                            <li><a href="/products">Products</a></li>
                            <li><a href="/home">Home</a></li>
                             <li><a href="https://github.com/ayushk3609">GitHub</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Easy Shop</a></li>
                            <li><a href="/about">About me</a></li>
                            <li><a href="#">Technologies</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Easy Shop</h3>
                        <p>An easy way to break the old shopping rules. Definitely the Shopping is now made Easy just for you all.</p>
                    </div>
                    <div class="col item social"><a href="#"><i class="fab fa-linkedin-in"></i></a><a href="#"><i class="fab fa-twitter"></i></i></a><a href="#"><i class="fab fa-facebook-f"></i></a><a href="#"><i class="fab fa-instagram"></i></a></div>
                </div>
                <p class="copyright">EASYSHOP © 2021</p>
            </div>
        </footer>
    </div>
    
